@font-face {
    font-family: 'Anurati';
    src: url('fonts/Anurati.otf');
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins.ttf');
}

@font-face {
    font-family: 'Electroharmonix';
    src: url('fonts/electroharmonix.ttf');
}

@font-face {
    font-family: 'Outfit';
    src: url('fonts/Outfit-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
}

.rain-clock-container {
    background: transparent;
    spacing: 0;
    padding: 0;
}

.rain-clock-label {
    background: transparent;
}

.rain-clock-mond {
    background: transparent;
}

.rain-clock-mond-label {
    background: transparent;
}

.rain-clock-summit {
    background: transparent;
    spacing: 0;
    padding: 0;
}

.rain-clock-summit-label {
    background: transparent;
}

.rain-clock-summit-greeting,
.rain-clock-summit-main,
.rain-clock-summit-date,
.rain-clock-summit-time {
    background: transparent;
}